.login-page {
    background: #f0f2f5;
    width: 100%;
    height: 100%;
    
        &-form {
            width: 350px;
            padding: 200px 0px 0px 0px;
            margin: 0px auto;
            border-radius: 10px;
            h2 {
                text-align: center;
            }
            &_button {
                width: calc(50% - 10px);
            }
        }
        .login-btns {
            display: flex;
            flex-direction: row;
            justify-content:space-between;
        }
    
}
